#checkbox {
  appearance: none;
  background-color: grey;
  width: 200px;
  height: 100px;
  border-radius: 50px;
  border: 5px solid blue;
  transition: 1s;
  cursor: pointer;
  position: absolute;
  margin: 50px;
}

#checkbox:checked {
  background-color: navy;
  transition: 1s;
}

#checkbox::before {
  content: "";
  background: lightgreen;
  top: 38px;
  left: 0px;
  padding: 34px 40px;
  border-radius: 50px;
  border: 4px solid black;
  transition: 500ms;
  position: relative;
}

#checkbox:checked::before {
  left: 102px;
  transition: 500ms;
}
